OUTPUT_MODEL/D_latest.pth
OUTPUT_MODEL/G_latest.pth
*.mp3
*.wav
*.mp4
*.zip
*.srt
.vscode
.virtual_documents
.ipynb_checkpoints
__pycache__
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.ipynb_checkpoints/*
.virtual_documents/*
*.ass
*.7z